body {
    font-family: "Playfair Display";
}

a, a:visited, a:hover {
    color: white;
    text-decoration: none;
}


#navbar {
	top: 0;
    width: 100%;
    margin: 0;
    font-family: "Playfair Display";
    background-color: black;
    color: white;
    text-align: center;
    z-index: 100;
}

#navbar ul {
    margin: 0;
    padding: 20px 0 20px 0;
}

#navbar ul li {
    font-style:italic;
    padding: 0 20px 0 20px;
    line-height: 40px;
    display: inline-block;   
}

#video-container {
    margin: 0;
    width: 100%;
    z-index: 0;
}



@media screen and (max-width: 767px){
    #logo {
        top: 220px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    #logo {
        top: 300px;
    }
}

@media screen and (min-width: 993px){
    #logo {
        top: 400px;
    }
}
.gallery {
    text-align: center;
    overflow-y: hidden;
}
img {
    width: 100%;
    border: 2px solid rgba(255,255,255,0.3);
    margin: 10px 0 10px 0;
}
#logo {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 50%;
    
    margin-left: -100px;
    margin-top: -100px;
    border-radius: 200px;
    background-color: rgba(0,0,0,0.8);
    color: white;
    line-height: 200px;
    text-align: center;
    font-family: "Playfair Display";
    font-style: italic;
    z-index: 1;
}

#logo p {
    margin-top: -180px;
    font-family: "Roboto Thin";
    font-size: 12px;
}
#overlay {
    position: absolute;
    z-index: 0;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 2px, rgba(100,100,100,.5) 2px, rgba(100,100,100,.5) 10px);
}

video {
    width: 100%;
    z-index: 0;
    margin: 0;
}

.black {
    background-color: black;
    color: white;
    padding: 50px;
    z-index: 1000;
}

.black h2, .black p  {
    font-family: "Playfar Display";
    padding: 0 0 0 20px;
    margin: 0;
    
}

.black h2 {
    font-style: italic;
}

.black p {
    font-family: "Roboto Thin";
    line-height: 15px;
    margin: 10px 0 10px 0;
    
}
.section {
    margin-top: -10px;
    background: url("http://previews.123rf.com/images/gromaler/gromaler0903/gromaler090300011/4487922-Vector-Seamless-damask-pattern-Vintage-wallpaper-black-and-white-Stock-Vector.jpg");
    background-size: 250px;
    background-repeat: repeat;
    background-attachment: fixed;

}

.white {
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

footer {
    width: 100%;
    background-color: black;
    color: white;
    font-family: "Roboto Thin";
    line-height: 15px;
}

#footer-left, #footer-right {
    padding: 20px;
    display: inline-block;
    width: 40%;
}


footer p {
    padding: 0 0 0 20px;
    margin: 0;
}