@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Roboto);
.header {
  background: #FFFFFF url('../imgs/header.jpg') no-repeat center center;
  background-size: cover;
  height: 400px;
  text-align: center;
  color: white;
}
.header > #tooltip {
  position: absolute;
  margin-left: 45%;
  top: 360px;
  z-index: 1000;
  height: 40px;
  width: 10%;
  min-width: 70px;
  background-color: #8BDAFF;
  line-height: 40px;
}
.h1 {
  font-family: "Playfair Display";
  font-size: 4em;
  font-style: italic;
}
h1 {
  font-family: "Playfair Display";
  font-size: 4em;
  font-style: italic;
}
.row {
  margin: 0;
}
.header > h1 {
  font-family: "Playfair Display";
  font-size: 4em;
  font-style: italic;
  line-height: 400px;
}
.gallery {
  opacity: 0;
  position: relative;
  height: 400px;
  background: no-repeat center center;
  background-size: cover;
  padding: 0;
}
.separator {
  height: 40px;
  background-color: #8BDAFF;
  text-align: center;
}
.separator p {
  font-family: "Roboto";
  line-height: 40px;
  color: white;
}
section {
  padding: 0 0 200px 0;
  height: 100vh;
}
section .row {
  opacity: 0;
  padding-top: 100px;
}
.content {
  font-family: "Roboto";
}
.panel-heading {
  background: none;
  background-color: #8BDAFF !important;
  color: white;
}
footer {
  background-color: #8BDAFF;
  font-size: 1.4em;
  padding: 40px 0 40px 0;
}
footer h1 {
  color: white;
  font-size: 1.6em;
  line-height: 1.8em;
  text-align: center;
}
footer h2 {
  color: white;
  font-family: "Roboto";
  text-align: center;
}
footer p {
  color: white;
  font-size: 0.8em;
  text-align: center;
}
